<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rileyg44.clear-skies-portal</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__SCRIPT__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CSP_NODE_BIN</key>
    <string>__NODE__</string>
    <key>CSP_CACHE_DIR</key>
    <string>__CACHE__</string>
    <key>CSP_TERRAIN_WORKERS</key>
    <string>6</string>
    <key>CSP_S3_INFLIGHT</key>
    <string>4</string>
    <key>CSP_CACHE_MIN_FREE_GB</key>
    <string>8</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>StandardOutPath</key>
  <string>__LOG__/terrain-engine.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG__/terrain-engine.error.log</string>
</dict>
</plist>
